@use "../../styles/mixins/mixins.scss" as *;

.product-card {
    width: 19rem;
    text-decoration: none;
    margin: 1rem;
    &__image {
        width: 18rem;
        height: 18rem;
        object-fit: cover;
        @include tablet{
         
        }
    
        &__price {

    }

    &__title {
        
    }

    &__location {

    }
    }
}

.product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FAFAFA;
    @include tablet{
  
    // justify-content: space-between;   
    }
 
}

